<!-- FOOTER -->
<footer id="footer">
  <div class="desktop">
    <div class="container">
      <div class="left">
        <h2 class="logo">
          <a href="/">
            <svg aria-label="토코보 로고">
              <!-- webpackIgnore: true -->
              <use href="./assets/icons/svg_sprite_sheet.svg#logo"></use>
            </svg>
          </a>
        </h2>
        <address>
          <ul>
            <li>주식회사 픽톤</li>
            <li class="letter-spacing-zero">대표: 안주영</li>
          </ul>
          <ul>
            <li>주소 : 03966 서울특별시 마포구 월드컵북로15길 45 (성산동)</li>
          </ul>
          <ul>
            <li class="letter-spacing-zero">
              사업자등록번호 : 196-81-02410
              <a href="#" class="company-registration letter-spacing-zero">[사업자정보확인]</a>
            </li>
          </ul>
          <ul>
            <li>통신판매업신고: 제2021-서울마포-2994호</li>
            <li>개인정보보호책임자 : 안주영</li>
          </ul>
          <ul>
            <li class="letter-spacing-zero">TEL : 02-6352-2410</li>
            <li class="letter-spacing-zero">E-MAIL : help@thepicton.com</li>
          </ul>
        </address>
        <p class="copy">
          COPYRIGHT&copy; 2021 TOCOBO. ALL RIGHT RESERVED.<br />HOSTING BY 카페24㈜ DESIGN BY
          디자인위브
        </p>
        <ul class="terms">
          <li><a href="#">이용약관</a></li>
          <li>
            <a href="#">개인정보처리방침</a>
          </li>
          <li><a href="#">이용안내</a></li>
        </ul>
      </div>
      <div class="center">
        <ul class="site-map">
          <li>
            <a href="#">Brand</a>
            <ul class="depth">
              <li><a href="#">Brand Story</a></li>
              <li><a href="#">Collection</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Shop</a>
            <ul class="depth">
              <li><a href="#">All Product</a></li>
              <li><a href="#">Toner</a></li>
              <li><a href="#">Essence</a></li>
              <li><a href="#">Cream</a></li>
              <li><a href="#">Set</a></li>
              <li><a href="#">Etc</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Promotion</a>
            <ul class="depth">
              <li><a href="#">Promotion</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Community</a>
            <ul class="depth">
              <li><a href="#">Notice</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Review</a></li>
              <li><a href="#">1:1 CS</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="right">
        <h4 class="title">Customer Center</h4>
        <span class="phone-number">02-6352-2410</span>
        <p class="business-hour">
          AM 10:00 - PM 5:00 (Lunch 12:00 - 13:00)<br />토, 일요일 및 공휴일 휴무
        </p>
        <a href="#" class="talk">1:1 TALK</a>
        <ul class="sns">
          <li>
            <a href="#">
              <svg aria-label="카카오페이지">
                <!-- webpackIgnore: true -->
                <use href="./assets/icons/svg_sprite_sheet.svg#kakao-page-square"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg aria-label="인스타그램">
                <!-- webpackIgnore: true -->
                <use href="./assets/icons/svg_sprite_sheet.svg#instagram-square"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg aria-label="유튜브">
                <!-- webpackIgnore: true -->
                <use href="./assets/icons/svg_sprite_sheet.svg#youtube-square"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mobile">
    <div class="container">
      <div class="top">
        <h2 class="logo">
          <a href="/">
            <svg aria-label="토코보 로고">
              <!-- webpackIgnore: true -->
              <use href="./assets/icons/svg_sprite_sheet.svg#logo"></use>
            </svg>
          </a>
        </h2>
        <address>
          <ul>
            <li>주식회사 픽톤</li>
            <li>대표: 안주영</li>
          </ul>
          <ul>
            <li>주소 : 03966 서울특별시 마포구 월드컵북로15길 45 (성산동)</li>
          </ul>
          <ul>
            <li>
              사업자등록번호 : 196-81-02410
              <a href="#" class="company-registration">[사업자정보확인]</a>
            </li>
          </ul>
          <ul>
            <li>통신판매업신고: 제2021-서울마포-2994호</li>
          </ul>
          <ul>
            <li>개인정보보호책임자 : 안주영</li>
          </ul>
          <ul>
            <li>TEL : 02-6352-2410</li>
            <li>E-MAIL : help@thepicton.com</li>
          </ul>
        </address>
      </div>
      <div class="center">
        <span class="btn-open-text" role="button" aria-label="고객센터 정보 펼치기">
          Customer Center
        </span>
        <span class="btn-open-icon-plus" role="button" aria-label="고객센터 정보 펼치기"></span>
        <div class="dropdown-content">
          <span class="phone-number">02-6352-2410</span>
          <p class="business-hour">
            AM 10:00 - PM 5:00 (Lunch 12:00 - 13:00)<br />토, 일요일 및 공휴일 휴무
          </p>
          <a href="#" class="talk">1:1 TALK</a>
        </div>
      </div>
      <div class="bottom">
        <ul class="terms">
          <li><a href="#">이용약관</a></li>
          <li>
            <a href="#">개인정보처리방침</a>
          </li>
          <li><a href="#">이용안내</a></li>
        </ul>
        <p class="copy">
          COPYRIGHT&copy; 2021 TOCOBO. ALL RIGHT RESERVED.<br />HOSTING BY 카페24㈜ DESIGN BY
          디자인위브
        </p>
        <ul class="sns">
          <li>
            <a href="#">
              <svg aria-label="카카오페이지">
                <!-- webpackIgnore: true -->
                <use href="./assets/icons/svg_sprite_sheet.svg#kakao-page-square"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg aria-label="인스타그램">
                <!-- webpackIgnore: true -->
                <use href="./assets/icons/svg_sprite_sheet.svg#instagram-square"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg aria-label="유튜브">
                <!-- webpackIgnore: true -->
                <use href="./assets/icons/svg_sprite_sheet.svg#youtube-square"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- // FOOTER -->
