<!-- Difference between header and header_white is header class -->
<!-- HEADER WHITE -->
<div id="dummy-notice-height"></div>
<header id="header" class="white no-bg">
  <!-- NOTICE -->
  <div class="notice">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#">회원가입 시 무료배송 + 10% 할인 쿠폰 + 3,000원 할인 쿠폰 증정</a>
        </div>
        <div class="swiper-slide">
          <a href="#">회원가입하고 무료 샘플 키트를 받아보세요!</a>
        </div>
      </div>
    </div>
    <button type="button" class="btn-close-notice" aria-label="공지사항 닫기"></button>
  </div>
  <!-- // NOTICE -->
  <!-- NAV -->
  <div class="nav">
    <div class="container">
      <h1 class="logo">
        <a href="/">
          <svg aria-label="토코보 로고">
            <!-- webpackIgnore: true -->
            <use href="./assets/icons/svg_sprite_sheet.svg#logo"></use>
          </svg>
        </a>
      </h1>
      <button class="btn-open-mobile-nav" aria-label="모바일 메뉴 열기">
        <svg>
          <!-- webpackIgnore: true -->
          <use href="./assets/icons/svg_sprite_sheet.svg#mobile-hamburger"></use>
        </svg>
      </button>
      <!-- MOBILE NAV -->
      <nav class="mobile-nav">
        <div class="content">
          <button type="button" class="btn-close-mobile-nav" aria-label="모바일 메뉴 닫기">
            <svg>
              <!-- webpackIgnore: true -->
              <use href="./assets/icons/svg_sprite_sheet.svg#btn-close-x-circle"></use>
            </svg>
          </button>
          <ul class="top">
            <li class="search">
              <button aria-label="검색창 열기">
                <svg>
                  <!-- webpackIgnore: true -->
                  <use href="./assets/icons/svg_sprite_sheet.svg#search"></use>
                </svg>
              </button>
            </li>
            <li class="my-page">
              <a href="/login.html" aria-label="나의 정보">
                <svg>
                  <!-- webpackIgnore: true -->
                  <use href="./assets/icons/svg_sprite_sheet.svg#my-page"></use>
                </svg>
              </a>
            </li>
            <li class="dropdown-lang">
              <button class="btn-open" aria-label="언어 선택창 열기">
                <svg>
                  <!-- webpackIgnore: true -->
                  <use href="./assets/icons/svg_sprite_sheet.svg#lang"></use>
                </svg>
              </button>
              <div class="dropdown-lang-content">
                <ul>
                  <li><a href="#">KOREA</a></li>
                  <li><a href="#">USA</a></li>
                </ul>
              </div>
            </li>
            <li class="cart">
              <a href="#">
                <svg>
                  <!-- webpackIgnore: true -->
                  <use href="./assets/icons/svg_sprite_sheet.svg#mobile-cart"></use>
                </svg>
                <span class="blind">장바구니</span>
                <span class="count">0</span>
              </a>
            </li>
          </ul>
          <ul class="center">
            <li>
              <a href="#">Brand</a>
              <div class="sub-menu">
                <button type="button" class="btn-close-sub-menu">
                  <span class="blind">서브메뉴 닫기</span>
                </button>
                <h3>Brand</h3>
                <ul>
                  <li><a href="/brand.html">Brand Story</a></li>
                  <li><a href="#">Collection</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#">Shop</a>
              <div class="sub-menu">
                <button type="button" class="btn-close-sub-menu">
                  <span class="blind">서브메뉴 닫기</span>
                </button>
                <h3>Shop</h3>
                <ul>
                  <li><a href="/shop.html">All Product</a></li>
                  <li><a href="#">Toner</a></li>
                  <li><a href="#">Essence</a></li>
                  <li><a href="#">Cream</a></li>
                  <li><a href="#">Set</a></li>
                  <li><a href="#">Etc</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="/promotion.html">Promotion</a>
            </li>
            <li>
              <a href="#">Community</a>
              <div class="sub-menu">
                <button type="button" class="btn-close-sub-menu">
                  <span class="blind">서브메뉴 닫기</span>
                </button>
                <h3>Community</h3>
                <ul>
                  <li>
                    <a href="/community.html">Notice</a>
                  </li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Review</a></li>
                  <li><a href="#">1:1 CS</a></li>
                </ul>
              </div>
            </li>
          </ul>
          <ul class="bottom">
            <li><a href="/login.html">Login</a></li>
            <li><a href="/join.html">Join</a></li>
            <li><a href="/order_tracking.html">Order</a></li>
            <li><a href="/community.html">Notice</a></li>
          </ul>
        </div>
      </nav>
      <!-- // MOBILE NAV -->
      <nav class="left">
        <ul>
          <li><a href="/brand.html">Brand</a></li>
          <li><a href="/shop.html">Shop</a></li>
          <li><a href="/promotion.html">Promotion</a></li>
          <li><a href="/community.html">Community</a></li>
        </ul>
      </nav>
      <ul class="right">
        <li class="dropdown-lang">
          <button class="btn-open" aria-label="언어 선택창 열기">
            <svg>
              <!-- webpackIgnore: true -->
              <use href="./assets/icons/svg_sprite_sheet.svg#lang"></use>
            </svg>
          </button>
          <div class="dropdown-lang-content">
            <ul>
              <li><a href="#">KOREA</a></li>
              <li><a href="#">USA</a></li>
            </ul>
          </div>
        </li>
        <li class="search">
          <button aria-label="검색창 열기">
            <svg>
              <!-- webpackIgnore: true -->
              <use href="./assets/icons/svg_sprite_sheet.svg#search"></use>
            </svg>
          </button>
        </li>
        <li class="my-page">
          <a href="/login.html">
            <svg aria-label="나의 정보">
              <!-- webpackIgnore: true -->
              <use href="./assets/icons/svg_sprite_sheet.svg#my-page"></use>
            </svg>
          </a>
        </li>
        <li class="cart">
          <a href="#">
            <svg class="desktop">
              <!-- webpackIgnore: true -->
              <use href="./assets/icons/svg_sprite_sheet.svg#cart"></use>
            </svg>
            <svg class="mobile">
              <!-- webpackIgnore: true -->
              <use href="./assets/icons/svg_sprite_sheet.svg#mobile-cart"></use>
            </svg>
            <span class="blind">장바구니</span>
            <span class="count">0</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- // NAV -->
</header>
<!-- // HEADER WHITE -->
