<!-- MODAL SEARCH -->
<div id="modal-search">
  <span class="icon-follow-cursor" aria-label="모달창 닫기"></span>
  <button type="button" class="btn-close" aria-label="모달창 닫기">
    <svg>
      <!-- webpackIgnore: true -->
      <use href="./assets/icons/svg_sprite_sheet.svg#btn-close-x-circle"></use>
    </svg>
  </button>
  <div class="content">
    <form>
      <input type="text" class="input-search" placeholder="Search For..." />
      <button type="submit" class="btn-submit" aria-label="검색 내용 제출">
        <svg>
          <!-- webpackIgnore: true -->
          <use href="./assets/icons/svg_sprite_sheet.svg#search"></use>
        </svg>
      </button>
    </form>
    <div class="popular-keyword">
      <h4 class="title">인기 검색어</h4>
      <ul class="keyword">
        <li><a href="#">아하 바하 레몬 토너</a></li>
        <li><a href="#">세라마이드 크림</a></li>
        <li><a href="#">에센스</a></li>
        <li><a href="#">레몬 토너</a></li>
        <li><a href="#">크림</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- // MODAL SEARCH -->
