<!-- RIGHT WING -->
<div id="right-wing">
  <button type="button" class="btn-to-top" aria-label="사이트 최상단으로 이동">
    <svg>
      <!-- webpackIgnore: true -->
      <use href="./assets/icons/svg_sprite_sheet.svg#right-wing-arrow-top"></use>
    </svg>
  </button>
  <a href="#" class="talk">
    <svg>
      <!-- webpackIgnore: true -->
      <use href="./assets/icons/svg_sprite_sheet.svg#right-wing-talk-balloon"></use>
    </svg>
    <span class="text-inside">TCB</span>
    <span class="text-outside">1:1 Talk</span>
  </a>
</div>
<!-- // RIGHT WING -->
