<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TOCOBO</title>
    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="TOCOBO" />
    <meta property="og:title" content="index" />
    <meta property="og:description" content="index page" />
    <meta property="og:image" content="./assets/images/logo.jpg" />
    <meta property="og:url" content="https://www.tocobo.co.kr/" />
    <!-- Twitter Card -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="TOCOBO" />
    <meta property="twitter:title" content="index" />
    <meta property="twitter:description" content="index page" />
    <meta property="twitter:image" content="./assets/images/logo.jpg" />
    <meta property="twitter:url" content="https://www.tocobo.co.kr/" />
    <%= require('html-loader!@/html/partials/google_fonts.html').default %>
  </head>
  <body>
    <%= require('html-loader!@/html/partials/header.html').default %>
    <!-- MAIN -->
    <main>
      <!-- MAIN SLIDE -->
      <article id="main-slide">
        <h2 class="blind">이미지 슬라이드</h2>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="desktop" src="./assets/images/main_slide_1.png" alt="기초 3종 세트" />
              <img
                class="mobile"
                src="./assets/images/mobile_main_slide_1.png"
                alt="기초 3종 세트"
              />
              <div class="text-area">
                <h3 class="title">Basic Trio Set<br />with 3 STEP</h3>
                <p class="desc">최적의 성분 배합으로 탄생한 넥스트 더마 스킨케어</p>
                <a href="#" class="more">Discover More</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img
                class="desktop"
                src="./assets/images/main_slide_2.png"
                alt="무료 샘플 키트 체험"
              />
              <img
                class="mobile"
                src="./assets/images/mobile_main_slide_2.png"
                alt="무료 샘플 키트 체험"
              />
              <div class="text-area">
                <h3 class="title">A New Change<br />Sample Promotion</h3>
                <p class="desc">토코보가 제안하는 신제품 무료 샘플 키트 체험</p>
                <a href="#" class="more"><span>Discover More</span></a>
              </div>
            </div>
            <div class="swiper-slide">
              <img
                class="desktop"
                src="./assets/images/main_slide_3.png"
                alt="토코보의 다양한 혜택을 확인해보세요"
              />
              <img
                class="mobile"
                src="./assets/images/mobile_main_slide_3.png"
                alt="토코보의 다양한 혜택을 확인해보세요"
              />
              <div class="text-area">
                <h3 class="title">Welcome TOCOBO<br />exclusive benefit</h3>
                <p class="desc">토코보가 처음인 당신을 위한 다양한 혜택</p>
                <a href="#" class="more">Discover More</a>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev">
            <svg>
              <use href="./assets/icons/svg_sprite_sheet.svg#main-slide-arrow-prev"></use>
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg>
              <use href="./assets/icons/svg_sprite_sheet.svg#main-slide-arrow-next"></use>
            </svg>
          </div>
        </div>
      </article>
      <!-- // MAIN SLIDE -->
      <!-- INTRO -->
      <article id="intro">
        <h2 class="blind">토코보 소개</h2>
        <div class="container">
          <div class="gif-wrap">
            <img src="./assets/videos/intro.gif" alt="토코보 소개 영상" />
          </div>
          <div class="text-area">
            <p class="greeting">Hello❤️ We are TOCOBO!</p>
            <h3 class="greeting-title">Follow<br />Your Intuition</h3>
            <p class="desc">
              토코보는 본질을 중시하며, 직관력을 바탕으로<br class="phone" />
              만든 브랜드입니다.<br class="desktop" />당신의 직감이 YES를 외친다면,<br
                class="phone"
              />
              고민없이 토코보를 선택하세요.<br class="desktop" />우리의 인사이트로<br
                class="phone"
              />
              탄탄하게 기획된 제품을 보내드립니다.
            </p>
            <a href="#" class="more"><span>MEET TOCOBO</span></a>
          </div>
        </div>
      </article>
      <!-- // INTRO -->
      <!-- COLLECTION -->
      <article id="collection">
        <div class="header">
          <h2 class="title">TOCOBO COLLECTION</h2>
          <p class="desc">Shop By Category</p>
        </div>
        <div class="content">
          <div class="container">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="item">
                    <div class="top">
                      <span class="type">저자극 데일리 각질 케어 토너</span>
                      <span class="name-en">AHA BHA Lemon Toner</span>
                      <span class="name-ko">아하 바하 레몬 토너</span>
                    </div>
                    <a href="#" class="img-wrap">
                      <img src="./assets/images/product_1.png" alt="아하 바하 레몬 토너" />
                    </a>
                    <div class="bottom">
                      <span class="size">150ml</span>
                      <span class="price">25,000won</span>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item">
                    <div class="top">
                      <span class="type">피부 장벽 강화 유산균 에센스</span>
                      <span class="name-en">Bifida Biome Essence</span>
                      <span class="name-ko">비피다 바이옴 에센스</span>
                    </div>
                    <a href="#" class="img-wrap">
                      <img src="./assets/images/product_2.png" alt="비피다 바이옴 에센스" />
                    </a>
                    <div class="bottom">
                      <span class="size">50ml</span>
                      <span class="price">32,000won</span>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item">
                    <div class="top">
                      <span class="type">고밀도 10층 보습 크림</span>
                      <span class="name-en">Multi Ceramide Cream</span>
                      <span class="name-ko">멀티 세라마이드 크림</span>
                    </div>
                    <a href="#" class="img-wrap">
                      <img src="./assets/images/product_3.png" alt="멀티 세라마이드 크림" />
                    </a>
                    <div class="bottom">
                      <span class="size">50ml</span>
                      <span class="price">30,000won</span>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item">
                    <div class="top">
                      <span class="type">각질 정돈 및 고보습 기초 세트</span>
                      <span class="name-en">Basic Trio Set</span>
                      <span class="name-ko">베이직 트리오 세트</span>
                    </div>
                    <a href="#" class="img-wrap">
                      <img src="./assets/images/product_4.png" alt="베이직 트리오 세트" />
                    </a>
                    <div class="bottom">
                      <span class="size">150ml+50ml+50ml</span>
                      <span class="price">78,000won</span>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item">
                    <div class="top">
                      <span class="type">신규회원 샘플 이벤트</span>
                      <span class="name-en">TOCOBO Welcome Kit</span>
                      <span class="name-ko">스킨케어 3종 샘플 키트</span>
                    </div>
                    <a href="#" class="img-wrap">
                      <img src="./assets/images/product_5.png" alt="스킨케어 3종 샘플 키트" />
                    </a>
                    <div class="bottom">
                      <span class="size">4ml+2ml+2ml</span>
                      <span class="price">0won</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev">
              <svg>
                <use href="./assets/icons/svg_sprite_sheet.svg#collection-arrow-prev"></use>
              </svg>
            </div>
            <div class="swiper-button-next">
              <svg>
                <use href="./assets/icons/svg_sprite_sheet.svg#collection-arrow-next"></use>
              </svg>
            </div>
          </div>
        </div>
      </article>
      <!-- // COLLECTION -->
      <!-- VEGAN SKINCARE -->
      <article id="vegan-skincare">
        <div class="container">
          <div class="text-area">
            <h2 class="title">Vegan Skincare</h2>
            <p class="desc">
              피부에 건강한 영향력을 전달하고 꼭 필요한 성분만을 담아<br />
              놀라운 변화를 선사하는 비건 스킨케어 브랜드 토코보
            </p>
            <a href="#" class="more"><span>MEET TOCOBO</span></a>
          </div>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="./assets/images/vegan_product_1.png" alt="비건 제품 1" />
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/vegan_product_2.png" alt="비건 제품 2" />
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/vegan_product_3.png" alt="비건 제품 3" />
              </div>
            </div>
          </div>
        </div>
      </article>
      <!-- // VEGAN SKINCARE -->
      <!-- REVIEW -->
      <article id="review">
        <div class="container">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#" class="item">
                  <p class="type">Staff’s Review</p>
                  <h4 class="title">&ldquo; 레몬 토너로 보들보들+촉촉 피부 완성! &rdquo;</h4>
                  <p class="desc">
                    피부 각질은 물론 블랙헤드까지 정리되는 느낌?!<br />
                    마무리감이 각질 토너답지 않게 촉촉하게 마무리돼서 너무 좋고<br />
                    요즘 피부 맑아졌다는 소리 많이 듣고 있어요^^
                  </p>
                  <p class="reviewer">Sales Manager / Becca</p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="item">
                  <p class="type">Staff’s Review</p>
                  <h4 class="title">&ldquo; 피부 밸런스 맞춤 유산균 에센스 &rdquo;</h4>
                  <p class="desc">
                    요즘 피부 균형이 무너져 쉽게 자극받고 예민해졌었는데<br />
                    피부 장벽 강화에 도움을 주는 유산균 에센스로 바로잡았어요!<br />
                    다음 기초화장도 잘 먹으면서 피부가 탄력 있고 쫀쫀해졌습니다.
                  </p>
                  <p class="reviewer">Product Manager / Luna</p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="item">
                  <p class="type">Staff’s Review</p>
                  <h4 class="title">&ldquo; 다음날 팩한 듯 피부가 보들한 인생 크림! &rdquo;</h4>
                  <p class="desc">
                    처음에 셔벗 제형이 신기하면서도 피부에 겉돌까봐 걱정했는데<br />
                    흡수력은 전혀 문제없어요! 끈적이지 않고 피부에 촵 밀착해서<br />
                    촉촉하게 마무리되고 다음날 팩한 듯 피부가 보들보들해요.
                  </p>
                  <p class="reviewer">Designer / Ellie</p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="item">
                  <p class="type">Staff’s Review</p>
                  <h4 class="title">&ldquo; 각질 케어의 신세계, 아하 바하 레몬 토너 &rdquo;</h4>
                  <p class="desc">
                    예민한 피부를 가진 저는 평소 각질 케어가 힘든데요.<br />
                    아하, 바하 성분이 고함량 들어있어 각질 케어 효과가 확실하고<br />
                    저자극 성분이라 예민한 피부를 가진 저도 사용할 수 있어 좋아요!
                  </p>
                  <p class="reviewer">Marketer / Stella</p>
                </a>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-btn-prev-next-wrap">
              <div class="swiper-button-prev">
                <svg>
                  <use
                    class="desktop"
                    href="./assets/icons/svg_sprite_sheet.svg#review-arrow-prev"
                  ></use>
                  <use
                    class="mobile"
                    href="./assets/icons/svg_sprite_sheet.svg#review-mobile-arrow-prev"
                  ></use>
                </svg>
              </div>
              <div class="swiper-button-next">
                <svg>
                  <use
                    class="desktop"
                    href="./assets/icons/svg_sprite_sheet.svg#review-arrow-next"
                  ></use>
                  <use
                    class="mobile"
                    href="./assets/icons/svg_sprite_sheet.svg#review-mobile-arrow-next"
                  ></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </article>
      <!-- // REVIEW -->
      <!-- INSTAGRAM -->
      <article id="instagram">
        <div class="header">
          <div class="container">
            <h2 class="title">Instagram</h2>
            <span class="insta-id">@tocobo_official</span>
          </div>
        </div>
        <div class="content">
          <div class="container">
            <ul class="img-list">
              <li>
                <a href="#">
                  <img src="./assets/images/instagram_1.jpg" alt="" />
                  <div class="icons"></div>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/instagram_2.jpg" alt="" />
                  <div class="icons"></div>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/instagram_3.jpg" alt="" />
                  <div class="icons"></div>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/instagram_4.jpg" alt="" />
                  <div class="icons"></div>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/instagram_5.jpg" alt="" />
                  <div class="icons"></div>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/instagram_6.jpg" alt="" />
                  <div class="icons"></div>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/instagram_7.jpg" alt="" />
                  <div class="icons"></div>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/instagram_8.jpg" alt="" />
                  <div class="icons"></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </article>
      <!-- // INSTAGRAM -->
    </main>
    <!-- // MAIN -->
    <!-- FOOTER -->
    <%= require('html-loader!@/html/partials/footer.html').default %>
    <!-- MODAL SEARCH -->
    <%= require('html-loader!@/html/partials/modal_search.html').default %>
    <!-- RIGHT WING -->
    <%= require('html-loader!@/html/partials/right_wing.html').default %>
  </body>
</html>
