$red: #dc272d;
$light-red: #e62e2e;

$blue: #009bde;
$sky-blue: #eef8ff;
$dark-blue: #007eff;
$powder-blue: #74c6e2;

$black: #231f20;
$dark-black: #202020;

$gray: #5b5b5b;
$light-gray: #6f6f6f;

$break-point-phone-width: 800px;
$break-point-tablet-width: 1023px;

$scrollbar-desktop-width: 5px;
$scrollbar-desktop-height: 3px;
$scrollbar-mobile-width: 3px;
$scrollbar-border-radius: 10px;
$scrollbar-thumb-bg-color: $red;
$scrollbar-track-bg-color: #e7e7e7;

$btn-height: 50px;
$btn-height-in-form: 55px;

$png-sprite-sheet-width: 303px;
$png-sprite-sheet-height: 198px;
