#join {
  @include form-area;
  .container {
    form {
      .input-wrap {
        position: relative;
        margin-top: 30px;
        letter-spacing: -0.05em;
        &:first-child {
          margin-top: 0;
        }
        .flex-wrap {
          display: flex;
          margin-top: 13px;
        }
        label {
          color: $black;
          font-weight: 500;
          font-size: 14px;
          .asterisk {
            margin-left: 2px;
            color: $red;
          }
        }
        input {
          font-size: 14px;
          letter-spacing: -0.05em;
          &::placeholder {
            font-size: 14px;
          }
        }
        .msg {
          margin: 13px 0 0 4px;
          color: $light-gray;
          font-size: 13px;
          font-family: "Noto Sans KR", sans-serif;
          line-height: 22px;
          &.red {
            color: $red;
          }
          &.green {
            color: #08a600;
          }
          &.line-two {
            margin-top: 5px;
          }
        }
        &.pw {
          .pw-tip {
            position: absolute;
            bottom: 70px;
            left: -90px;
            width: 200px;
            padding: 14px 28px 14px 14px;
            border: 1px solid #ccc;
            border-radius: 2px;
            background-color: #fff;
            box-shadow: 3px 3px 3px 0 rgb(0 0 0 / 15%);
            letter-spacing: -0.05em;
            visibility: hidden;
            z-index: 1;
            &.on {
              visibility: visible;
            }
            &::before {
              @include icon-arrow(5px, 5px, 1px, #ccc, #fff, 45deg) ;

              bottom: -4px;
              left: 40%;
            }
            .btn-close {
              position: absolute;
              top: 13px;
              right: 13px;
              color: $light-gray;
              font-size: 17px;
            }
            .title {
              color: #f45b55;
              font-weight: 700;
              font-size: 13px;
            }
            .content {
              margin: 12px 4px 8px;
              color: #757575;
              font-size: 12px;
              line-height: 1.5;
            }
          }
          .msg {
            margin-top: 5px;
          }
        }
        &.phone-number {
          label {
            display: block;
          }
          .flex-wrap {
            align-items: center;
            input {
              width: 33.3333%;
              margin-top: 0;
            }
            .hyphen {
              margin: 0 4px;
            }
            .select-wrap {
              width: 33.3333%;
              &::before {
                top: 18px;
                right: 20px;
              }
            }
          }
        }
        &.birth-date {
          label {
            display: block;
          }
          .flex-wrap {
            input {
              width: 33.3333%;
              margin-top: 0;
              &:not(:last-child) {
                margin-right: 20px;
              }
            }
          }
        }
      }
      .terms-area {
        margin-top: 20px;
        .agree-all {
          @include custom-label-checkbox;
          label {
            display: block;
            height: 60px;
            border: 1px solid $blue;
            border-radius: 5px;
            text-align: center;
            &::before {
              top: 22px;
              left: 20px;
            }
            &::after {
              top: 25px;
              left: 26px;
            }
            span {
              color: $blue;
              font-weight: 500;
              font-size: 14px;
              font-family: "Noto Sans KR", sans-serif;
              line-height: 60px;
            }
          }
        }
        .terms-list {
          margin-top: 40px;
          .terms {
            @include custom-label-checkbox;

            position: relative;
            margin-top: 15px;
            &:first-child {
              margin-top: 0;
            }
            label {
              padding-left: 25px;
              &::before {
                top: -1px;
                left: 0;
              }
              &::after {
                top: 2px;
                left: 6px;
              }
              .text {
                font-size: 13px;
              }
              .type {
                margin-left: 2px;
                font-size: 12px;
              }
            }
            .btn-toggle-terms-detail {
              @include icon-arrow(8px, 8px, 2px, $black, #fff, 45deg);

              top: 3px;
              right: 4px;
              &.on {
                top: 6px;
                transform: rotate(225deg);
              }
            }
            .terms-detail-wrap {
              overflow: hidden;
              max-height: 0;
              transition: max-height 0.4s;
              .terms-detail {
                overflow-y: scroll;
                box-sizing: border-box;
                height: 220px;
                max-height: 220px;
                margin-top: 15px;
                padding: 15px;
                border: 1px solid #bfd9eb;
                border-radius: 5px;
                color: $light-gray;
                font-size: 12px;
                line-height: 1.5;
                &::-webkit-scrollbar {
                  width: 5px;
                  height: 3px;
                }
                &::-webkit-scrollbar-track {
                  background-color: #e7e7e7;
                }
                &::-webkit-scrollbar-thumb {
                  border-radius: 50px;
                  background-color: $red;
                }
              }
            }
          }
        }
      }
      button[type="submit"] {
        @include btn(100%, $btn-height-in-form, $red, $red, #fff);

        margin-top: 40px;
      }
    }
  }
}
